:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0 0 0 20px;
  margin: 0;
}

input {
  margin-right: 10px;
}

input[type="checkbox"], label {
  transform: scale(1.5);
  cursor: pointer
}

input[type="checkbox"]:hover {
  transform: scale(1.8);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.debug-selected {
  position:fixed;
  right: 10%;
  top:0;
}
